---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;

// @ts-expect-error
const bucket = Astro.locals.runtime.env.MY_BUCKET;
const metadata = await bucket.get(`${id}_metadata`);

if (!metadata) {
    return Astro.redirect("/404");
}

const video = JSON.parse(await metadata.text());

const title = video.id;
const description = "Embedded video";
---

    <Layout title={title} description={description}>
    <head>
        <meta property="og:type" content="video.other">
        <meta property="og:video:url" content={video.link}>
        <meta property="og:video:width" content={video.width.toString()}>
        <meta property="og:video:height" content={video.height.toString()}>
        <meta property="og:video:type" content={video.type}>
    </head>
    <body>
        <h1>{title}</h1>
        <video src={video.link} controls width={video.width} height={video.height}>
        Your browser does not support the video tag.
        </video>
    </body>
    </Layout>